* {
    font-family: sans-serif;
    letter-spacing: 1px;
    outline: none;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    overflow-x: hidden;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
    font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
    
.left-menu {
    height: 100%;
    width: 20%;
    background-color: #333;
    color: #fff;
    position: fixed;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.8);
    z-index: 1000;
}

    @media screen and (max-width: 1152px) {
        .left-menu {
            width: 25%;
        }
    }
    
    @media screen and (max-width: 962px) {
        .left-menu {
            width: 100%;
            height: auto;
        }
        
    }
        
    .left-menu-logo {
        width: 100%;
        margin: 0;
        margin-top: 0.5em;
        text-align: center;
    }
    
    .left-menu-nav {
        padding: 0;
    }
    
    .left-menu-nav > li {
        list-style: none;
        text-align: center;
        padding: 0;
        font-size: 1em;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 2px;
        padding: 0.5em 0;
        cursor: pointer;
    }
    
    .left-menu-nav #products-types {
        background-color: inherit;
        box-shadow: none;
    }
    
    .left-menu-products {
        list-style: none;
        padding: 0;
        padding: 1em 0;
    }
    
    .left-menu-products > li {
        font-size: 0.8em;
    }
    
    .left-menu-products > li h4{
        margin: 0;
        padding: 0.75em 0;
    }
    
        .left-menu-nav > li:hover, .left-menu-products > li:hover {
            background-color: #666666;
            box-shadow: 0 0 5px 5px rgba(0,0,0,0.2) inset;
        }
    
.main-conteiner {
    width: 78%;
    float: right;
    margin: 0;
    padding: 1em 1em 1em 0;
    text-align: center;
}
    @media screen and (max-width: 1152px) {
        .main-conteiner {
            width: 73%;
        }
    }
    
    @media screen and (max-width: 962px) {
        .main-conteiner {
            width: 100%;
            padding: 1em 0;
        }
    }
    
    .main-conteiner-manufs {
        width: 100%;
        text-align: center;
    }
    
    .main-conteiner-manufs > *{
        display: inline-block;
        margin: 0 1em; 
        text-transform: uppercase;
        align-items: center;
        cursor: pointer;
        padding: 0.2em 0.4em;
    }
    
        .main-conteiner-manufs > *:hover{
            box-shadow: 0 0 5px 5px rgba(0,0,0,0.2) inset;
        }
    
    .main-conteiner-manuf > * {
        float: left;
        line-height: 60px;
    }
    
    .main-conteiner-manuf .image{
        width: 50px;
        height: 60px;
        background-size: contain !important;
    }
    
    .main-conteiner-products {
        width: 100%;
        margin-top: 1em;
    }
    
    .main-conteiner-products > * {
        display: inline-block;
    }
    
    .main-conteiner-product {
        width: 26%;
        padding: 0 3% 0 3%;
        margin-bottom: 1em;
        cursor: pointer;
    }
    
    .main-conteiner-product . {
        width: 26%;
        padding: 0 3% 0 3%;
        margin-bottom: 1em;
        cursor: pointer;
    }
    
        @media screen and (max-width: 1152px) {
            .main-conteiner-product {
                width: 43%;
                padding: 0 1% 0 1%;
            }
        }

        @media screen and (max-width: 962px) {
            .main-conteiner-product {
                width: 100%;
                padding: 0;
            }
            
            
        }
    
    .main-conteiner-product .image{
        width: 100%;
        padding-top: 100%;
        background-size: cover !important;
    }
  
.conteiner-product {
   width: 100vw;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   position: fixed;
   top: 0;
   z-index: 1000;
}    

    .product {
        width: 700px;
        height: 400px;
        background-color: #fff;
        box-shadow: 0 0 0 5000px rgba(0,0,0,0.8);
        display: flex;
    }

    .product > * {
        width: 350px;
        text-align: center;
    }
    
    .product .image {
        height: 100%;
        background-size: contain !important;
    }
    
    .product-description p {
        padding: 0 1em;
    }
    
    .product-description .exit {
        position: relative;
        top: -25px;
        left: 160px;
        cursor: pointer;
    }
    
    .product-description input[type="text"] {
        width: 10%;
        text-align: center;
    }
    
.comment {
    width: 400px;
    position: fixed;
    left: 21.5%;
    bottom: 10px;
    background-color: #333; 
    padding: 1em;
    text-align: center;
    color: #fff;
}

    @media screen and (max-width: 1152px) {
        .comment {
            left: 26.5%;
        }
    }

    .comment input[type="text"], 
    .comment input[type="password"],
    textarea {
        width: 97%;
        margin-bottom: 0.8em;
    } 
    
.basket {
    position: fixed;
    width: 18%;
    height: 98vh;
    overflow: scroll;
    background-color: #fff;
    border-left: solid 2px #666666;
    top: 0;
    right: 0;
    padding: 1%;
    text-align: center;
}

    @media screen and (max-width: 1152px) {
        .basket {
            width: 25%;
        }
    }
    
    .basket-image {
        position: fixed;
        width: 40px;
        height: 40px;
        top: 20px;
        right: 20px;
        background: url(images/basket.png) no-repeat center;
        background-size: contain;
        cursor: pointer;
    }
    
    .basket-exit {
        cursor: pointer;
    }
    
    .basket-product {
        width: 100%;
        margin-top: 1em;
        cursor: pointer;
    }
    
    .basket-product .image {
        width: 100%;
        padding-top: 100%;
        background-size: cover !important;
    }
 
.conteiner-lg {
    padding: 5em 0;
}    

.conteiner-md {
    padding: 3em 0;
} 

.conteiner-sm {
    padding: 1.5em 0;
}
    
.btn-light {
    background: #fff;
    padding: 0.5em 1.5em;
    color: #000 !important;
    font-weight: 600;
    font-size: 0.8em;
    box-shadow: none;
    border: none;
}

.btn-black {
    background: #000;
    padding: 0.5em 1.5em;
    color: #fff !important;
    font-weight: 600;
    font-size: 0.8em;
    box-shadow: none;
    border: none;
}

    .btn-black:hover, .btn-black:hover {
        box-shadow: 0 0 0 1000px rgba(0,0,0, 0.8) inset;
    }

input[type="text"], input[type="password"] {
    border: none;
    box-shadow: 0 0 0 1px rgb(30,30,30) inset;
    padding: 0.2em 0.4em;
    font-weight: 600;
    font-size: 12pt;
    background: #fff;
}

.textarea {
    border: none;
    box-shadow: 0 0 0 1px rgb(30,30,30) inset;
    padding: 0.2em 0.4em;
    font-weight: 600;
    font-size: 12pt;
    background: #fff;
}

.f-r {
    float: right;
}

.f-l {
    float: left;
}

.f-n {
    clear: both;
}

.allert {
    text-decoration: underline;
}

.disabled {
    display: none;
}

.checked {
    box-shadow: 0 0 5px 5px rgb(100,100,100) inset;
}

.center {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
}

.full {
    display: block;
    width: 100%;
    height: 100%;
}

.scroll {
    overflow: scroll;
}